.portlet
  .options
    .option.up
      UP
    .option.down
      DOWN
    .option.left
      LEFT
    .option.right
      RIGHT
    .option.close= link_to_function( 'X', :url => { :action => 'portlet_close' } )

    .option.minimize
      MINIMIZE      
    .option.restore
      RESTORE      